hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.4), rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.4));
}

/*
.coverImg {
	background: url('../img/Mother-of-God-Platytera-3-a(compressed).jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
    text-decoration: none;

    -webkit-filter: grayscale(20%);
    filter: grayscale(20%);
}
*/
/*
.coverpageInfo {
    background-color: rgba(230, 245, 255, 0.7);
    color : #003d66;
    text-align: center;
}
*/
#myDialogPopUp a.ui-link {text-decoration: none}

#messagingPopUp {
	width:80vw;
	height:85vh;
}
.msgLog {
	height: 68%;
	overflow-y:auto;
}

.audioStyle {
    width: 100%;
}

.ui-icon-delete { /* close modal icon */
    font-size: 2em;
}

/* table style  */
.myTableStyle {width: 100%;}
.myTableStyle thead th,
.myTableStyle tbody th .ui-table-cell-label,
.myTableStyle tbody td .ui-table-cell-label {
    text-transform: uppercase;
    font-size: .7em;
    color: rgba(0,0,0,0.5);
    font-weight: normal;
}

.myTableStyle tbody th {
    font-size: 1.2em;
    background-color: #fff;
    color: #77bbff;
    text-align: center;
}

.myTableStyle tbody td.title {
    padding-left: .8em;
}

.myTableStyle thead th {
    border-bottom: 1px solid #d6d6d6; /* non-RGBA fallback */
    border-bottom: 1px solid rgba(0,0,0,.1);
}

.myTableStyle tbody th,
.myTableStyle tbody td {
    border-bottom: 1px solid #e6e6e6; /* non-RGBA fallback  */
    border-bottom: 1px solid rgba(0,0,0,.05);
}

/* this is intended for mobile screen displays */
@media all and (max-width: 500px) {

    /*html {
        font-size: 80%;
    }*/

    #myDialogPopUp {
        font-size: 110%;
    }
    #entireBody {
        font-size: 80%;
    }
    #appHeaderTitle {
        font-size: 115%;
    }

}
