/* external style sheet doesent seem to work in MY jquery-mobile */

/* .ui-icon-action {
    width: 50% !important;
}*/

hr {
    border: 0;
    height: 1px;
    /*filter: invert(100%);*/
    /*background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));*/
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.4), rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.4));
}


@media all and (max-width: 500px){

    html {
        font-size: 80%;
    }

    #appHeaderTitle {
        font-size: 125%;
    }

    #myDialogPopUp {
        font-size: 110%;
    }

}
